.header {
  .container {
    border-bottom: 2px solid $color-border;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 3.5rem;
      font-family: roboto, system-ui;
      font-weight: 600;
    }
    .navbar {
      display: none;
      &__menu {
        display: flex;
        gap: 6rem;
        a {
          font-size: 1.6rem;
        }
      }
      @include respond-to(mobile-md) {
        display: block;
      }
      
    }
    #toggle {
      background: transparent;
      color: $color-white;
      border: none;
      font-size: 2.5rem;
      cursor: pointer;
      @include respond-to(mobile-md) {
        display: none;
      }
    }
  }

}
