.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  .logo{
    font-family: $font-logo;
    font-size: 3rem;
  }
  .nav{
    ul{
      display: flex;
      li{
        margin-left: 2.5rem;
        color: $color-secondary;
      }
    }
  }
  .contact-btn{
    border: 1px solid $color-primary;
    padding: 0.8rem 1rem;
    border-radius: 8px;
  }
}