.hero {
  margin-top: 3.5rem;
  margin-bottom: 4.5rem;
  .container {
    padding: 3rem 1rem;
    
    h1 {
      font-size: 3rem;
      font-family: Arial, sans-serif;
      text-align: center;
      
      margin-bottom: 6.5rem;
      width: 100%;
      /* 1. Definimos el degradado horizontal (de verde a cian) */
      background: linear-gradient(90deg, #10b981 0%, #00f2fe 100%);

      /* 2. Recortamos el fondo al contorno de las letras */
      -webkit-background-clip: text;
      background-clip: text;

      /* 3. Volvemos el color del texto transparente para revelar el fondo */
      color: transparent;

      /* Opcional: mejora la nitidez del degradado si la fuente es gruesa */
      font-weight: 700;
      @include respond-to(laptop){
        width: 80%;
        font-size: 5.5rem;
        text-align: start ;
      }
    }
    .content {
      width: 100%;
      @include respond-to(laptop){
        display: flex;
        width: 80%;
        .title{
          text-align: start;
        }
      }
      
      h2 {
        font-size: 2rem;
        font-weight: 600;
        font-family: Arial, sans-serif;
        margin-bottom: 2rem;
        text-align: center;
      }
      &__biography {
        @include respond-to(laptop){
          display: flex;
          text-align: start;
          padding-right: 6.5rem;
        }
        
        .image-perfil {
          width: 100%; 
          border-radius: 50%;
          
          margin-right: 2rem;
          aspect-ratio: 1 / 1; /* Garantiza que siempre sea un cuadrado perfecto */
          position: relative;
          overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
          margin-bottom: 2.5rem;

          /* 3. Creamos el borde con degradado usando el pseudo-elemento */
          &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50%;

            padding: 2px; /* Grosor del borde */

            /* Tonos exactos de la imagen: Cian brillante arriba y verde abajo */
            background: linear-gradient(180deg, #00f2fe 0%, #10b981 100%);

            /* Enmascarado perfecto para conservar el centro transparente */
            -webkit-mask:
              linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;

            pointer-events: none;
          }

          @include respond-to(laptop){
            width: 200px;
            height: 100px;
            
          }
          img {
            width: 100%;
            height: 100%;
            color: red;
            object-fit: cover; /* Evita que la imagen se deforme */
            filter: brightness(0.8); // Ajusta el brillo
            //filter: grayscale(100%); // Ajusta la saturación

            @include respond-to(laptop){
              width: 100%;
              
              height: 100%;
            }
            
          }
        }
        p {
          color: $color-text;
          font-size: 1.6rem;
          font-family: "Poppins", sans-serif;
          text-align: justify;
          line-height: 1.2;
          margin-bottom: 2rem;
        }
      }
      &__social-medias {
        .links {
          display: flex;
          justify-content: center;
          gap: 2rem;
          a {
            display: flex;
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            border: 1px solid $color-secondary;
            &:hover {
              box-shadow: 0px 0px 10px $color-secondary;
            }
            i {
              color: $color-secondary;
              transition: all 0.3s ease-in-out;
            }
            i:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
