$color-fondo: #272727;
$color-primary: #65A0D8;
$color-secondary: #34d399;
$color-tertiary: #38bdf8;
$color-border: #393939;
$color-text:#A1A1A1;
$color-card: #323443;
$color-white: #1f293d;


$font-logo: "Oleo Script", system-ui;

$breakpoints: (
  'mobile-sm': 360px,
  'mobile-md': 480px,
  'table': 768px,
  'laptop': 1024px,
  'desktop': 1200px,
  'desktop-xl': 1440px
)
